<div class="product">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
          <% if cocktail.photo? %>
          <%= link_to (cl_image_tag cocktail.photo.path, width: 150, height: 150, crop: :fill, class: 'img'), cocktail_path(cocktail)%>
          <% end %>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><%= link_to "x", cocktail_path(cocktail), method: :delete %></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>

