
<div class="navbar-wagon">


  <!-- Logo -->

    <h3> Your own cocktails app</h3>


    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">


      <!-- Button (call-to-action) -->
      <a href="/cocktails" class="navbar-wagon-item navbar-wagon-button btn">List</a>
      <a href="/cocktails/new" class="navbar-wagon-item navbar-wagon-button btn">Add cocktail</a>
    </div>

    <!-- Dropdown appearing on mobile only -->

  </div>
